
<div class="block">
	<header class="header-group">
		<h2>Welcome to Islington Virtual Classroom</h2>
	</header>
	<div class="row">
		<div class="col-md-12">
		<%= link_to "View Courses", courses_path%>
		<%= link_to "Add lecturer", new_user_registration_path%>
		</div>
	</div>
</div>