<h2>course</h2>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>



<%= link_to 'Edit', edit_course_path(@course), class: "btn btn-warning" %>
<%= link_to "Back", courses_path, class: "btn btn-default" %>